accelerate>=0.26.1
aiohttp
auto-gptq
bcembedding
beautifulsoup4
datrie==0.8.2
duckduckgo_search
cachetools==5.3.3
einops
faiss-gpu
hanziconv==0.3.2
gradio==4.25.0
langchain>=0.1.12
langchain-community==0.0.38
loguru
lxml_html_clean
openai>=1.0.0
openpyxl
pandas
pdfplumber==0.10.4
pydantic>=1.10.13
PyPDF2==3.0.1
pymupdf
python-docx
pytoml
readability-lxml
redis
requests
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
scikit-learn
sentence_transformers==2.2.2
StrEnum==0.4.15
# See https://github.com/deanmalmgren/textract/issues/461
# textract @ git+https://github.com/tpoisonooo/textract@master
textract
tiktoken
torch>=2.0.0
transformers>=4.37.0
transformers_stream_generator
unstructured
xgboost==2.0.3
# onnxruntime-gpu==1.17.1
onnxruntime-gpu
shapely==2.0.3
pyclipper==1.3.0.post5
xpinyin==0.7.6
opencv-python==4.9.0.80
beautifulsoup4==4.10.0
